{% extends 'layout.html' %}
{% block head%}
<link rel="stylesheet" href=" {{ url_for('static',filename='css/index.css') }} ">
{% endblock %}
{% block body%}

<section id="nav-bar">

    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <div class=" container-fluid ">
            <a class="navbar-brand ">Class Manager</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                </ul>
            </div>
        </div>
      </nav>

</section>

<section id="login">

    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form id="register-form">
                <h1>Crear Cuenta</h1>
                <div class="form-group">
                    <i class="fas fa-user"></i>
                    <input class="myInput" type="email" placeholder="Correo Electronico" id="register-email" required> 
                </div>
                <div class="form-group">
                    <i class="fas fa-lock"></i>
                    <input class="myInput" type="password" id="register-password" placeholder="Contraseña" required>
                </div>
                <button>Registrar</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form id="login-form">
                <h1>Inicia Sesion</h1>
                <div class="form-group">
                    <i class="fas fa-user"></i>
                    <input class="myInput" type="email" placeholder="Usuario" id="login-email" required> 
                </div>
                <div class="form-group">
                    <i class="fas fa-lock"></i>
                    <input class="myInput" type="password" id="login-password" placeholder="Contraseña" required>
                </div>
                <button>Inicio</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Bienvenido de Vuelta!</h1>
                    <p>Inicia sesion con tus credenciales</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Nuevo Aqui?</h1>
                    <p>Registrate y empieza a usar la aplicacion.</p>
                    <button class="ghost" id="signUp">Registro</button>
                </div>
            </div>
        </div>
    </div>

</section>
<script>
    //auth.onAuthStateChanged(function(user) {
    //if (user) {
     //   window.location="/user ";
    //}
//});
</script>
<script src="  {{ url_for('static' ,filename='js/index.js') }} "></script>
{% endblock %}